<ion-view view-title="{{hospital.name}}">
    <ion-content>

        <div class="list card">

            <a href="#" class="item item-icon-left" ng-click="openMap(hospital)">
                <i class="icon ion-map"></i>
                {{hospital.address}}
            </a>

            <a href="#" class="item item-icon-left">
                <i class="icon ion-ios-telephone"></i>
                {{hospital.phone}}
            </a>


            <a href="#" class="item item-icon-left" ng-click="openWWW(hospital.www)">
                <i class="icon ion-link"></i>
               {{hospital.www}}
            </a>

        </div>

    </ion-content>
</ion-view>
