<ion-view view-title="Apteki {{type}}">

    <ion-content>
        <div class="spinner">
            <ion-spinner ng-show="loading" icon="bubbles" class="spinner-balanced"></ion-spinner>
        </div>
        <ion-list ng-show="!loading">
            <ion-item class="item-remove-animate item-avatar" ng-repeat="pharmacy in pharmacies | orderBy:'duration.value'"
                      type="item-text-wrap" href="#/tab/pharmacies/{{pharmacy.id}}">
                <img ng-if="pharmacy.hours" style="margin-top: 10px;" src="img/a_open.png"/>
                <img ng-if="!pharmacy.hours" src="img/a_open.png"/>

                <h2>{{pharmacy.name}}</h2>

                <p>{{pharmacy.address}}</p>
                <p>{{pharmacy.hours}}</p>
                <span style="color: #000000;font-size: 16px;" class="badge">{{pharmacy.duration.text}}</span>
                <span style="top:42px;margin-right: 0px; " class="badge">{{pharmacy.distance.text}}</span>
            </ion-item>
        </ion-list>
    </ion-content>

    <ion-footer-bar align-title="left" class="color-apteki tabs" style="height: 55px;">
        <a class="tab-item" ng-click="calculateNewDistancesCar()" ng-class="{true:'active'}[isTravelModeDriving()]">
            <i class="icon ion-android-car"></i>
        </a>
        <a class="tab-item" ng-click="calculateNewDistancesTransit()" ng-class="{true:'active'}[isTravelModeTransit()]">
            <i class="icon ion-android-subway"></i>
        </a>
        <a class="tab-item" ng-click="calculateNewDistancesWalk()" ng-class="{true:'active'}[isTravelModeWalk()]">
            <i class="icon ion-android-walk"></i>
        </a>
        <a class="tab-item" ng-click="calculateNewDistancesBike()" ng-class="{true:'active'}[isTravelModeBike()]">
            <i class="icon ion-android-bicycle"></i>
        </a>

    </ion-footer-bar>

</ion-view>
