<ion-view view-title="Specjalizacje">
    <ion-content>
        <div class="list">

            <a class="item item-icon-left" href="#/tab/hospitals-type/okulista">

                Okuliści
                <span class="item-note">
                    8
                </span>
            </a>
            <a class="item item-icon-left" href="#/tab/hospitals-type/pediatria">

                Pediatria
                <span class="item-note">
                    2
                </span>
            </a>

        </div>
    </ion-content>
</ion-view>
