
<ion-tabs class="tabs-icon-top tabs-positive">

  <!--&lt;!&ndash; Dashboard Tab &ndash;&gt;-->
  <!--<ion-tab title="Specjalizacje" icon-off="ion-ios-medkit-outline" icon-on="ion-ios-medkit" href="#/tab/dash">-->
    <!--<ion-nav-view name="tab-dash"></ion-nav-view>-->
  <!--</ion-tab>-->

  <!-- Hospitals Tab -->
  <ion-tab title="Szpitale" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/hospitals">
    <ion-nav-view name="tab-hospitals"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
