/* Empty. Add your own CSS if you like */
.scroll {
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

.details_icon {
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;
    color: #098635;
}

.color-apteki{
    border-color: #07491b;
    background-color: #098635;
    color: #fff;
}

div.spinner {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    height: 85px;
    text-align: center;
}

.spinner svg {
    width: 19% !important;
    height: 85px !important;
}


